#copy
#note
%input#type_area{:type => 'text', :name => 'type_area', :value => ''}
%table#results
	%tr
		%td#results-wpm 0
		%td#results-cpm 0
	%tr
		%th
			%abbr{:title => 'Words per minute'} wpm
		%th
			%abbr{:title => 'Characters per minute'} cpm