@import url('http://fonts.googleapis.com/css?family=Droid%20Serif');
@import url('http://fonts.googleapis.com/css?family=Ubuntu');
@import url('http://fonts.googleapis.com/css?family=Vollkorn');

/**********
 * global *
 **********/
* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #ccc;
	color: #222;
	font: 13px/18px 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
}

a {
	font-weight: bold;
	color: #222;
	text-decoration: none;
}

a:hover {
	color: #555;
}

#account {
	position: absolute;
	top: 5px;
	right: 5px;
}

h1#header {
	color: #282828;
	font-family: Ubuntu;
	font-size: 50px;
	font-weight: bold;
	letter-spacing: -2px;
	text-align: center;
	text-shadow: 0 0 4px #666;
	margin: 50px 0;
}

h1#header a {
	color: inherit;
	text-decoration: inherit;
}

h1#header a:hover {
	color: #5b5b5b;
}

h2, h3 {
	color: #1b1b1b;
	font-family: Ubuntu;
	font-weight: normal;
	margin: 25px 0 15px 0;
}

table.table, table.table tr, table.table td {
	border: none;
	text-align: center;
}

table.table {
	width: 100%;
}

table.table td, table.table th {
	padding: 5px 5px;
}

table.table tr td {
	border-bottom: 1px solid #ddd;
}

table.table tr:last-child td {
	border: none;
}

table.table tr th:first-child {
	border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
}

table.table tr th:last-child {
	border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
}

ul#nav {
	list-style: none;
	text-align: center;
	color: #777;
	
	margin-bottom: 20px;
}

ul#nav li {
	display: inline;
}

ul#nav li:before {
	content: " | ";
}

ul#nav li:first-child:before {
	content: "";
}

#container {
	padding-top: 1px;
	height: 100%;
	background-color: #fafafa;
	box-shadow: 0 0 20px #888;
	-webkit-box-shadow: 0 0 20px #888;
	-moz-box-shadow: 0 0 20px #888;
	border-top: 1px solid #777;
}

#footer {
	font-size: 12px;
	text-align: center;
	
	margin-top: 70px;
	padding: 45px 0 30px 0;
	
	border-top: 1px solid #ddd;
	
	opacity: 0.5;
	filter: alpha(opacity=50);
}

/********
 * type *
 ********/
#inner {
	width: 700px;
	height: 100%;
	height: auto !important;
	margin: 50px auto;
}

#copy, #note {
	font-family: Vollkorn;
}

#copy {
	width: 700px;
	color: #151515;
}

#copy span {
	display: inline-block;
}

#copy span.personal-highlight {
	color: #6fbf4d;
}

#copy span.leader-highlight {
	color: #ff0000;
}

#copy span.personal-highlight.leader-highlight {
	color: #6fbf4d;
}

#note {
	text-align: right;
	color: #aaa;
	margin: 7px 0px 5px 0px;
}

input#type_area {
	background-color: #fafafa;
	border: 1px solid #aeb3b8;
	color: #333;
	font-size: 15px;
	
	outline: none;
	width: 200px;
	height: 30px;
	padding: 4px;
	margin: 15px auto;
	display: block;
	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;

	-moz-box-shadow: 0 1px 1px rgba(255, 255, 255, .66), 0 1px 4px rgba(0, 0, 0, .1) inset;
	-webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, .66), 0 1px 4px rgba(0, 0, 0, .1) inset;
	box-shadow: 0 1px 1px rgba(255, 255, 255, .66), 0 1px 4px rgba(0, 0, 0, .1) inset;
}

table#results {
	width: 200px;
	margin: 20px auto;
	font-family: 'Droid Serif', 'Times New Roman', serif;
	text-align: center;
}

table#results td {
	font-size: 30px;
}

table#results th {
	font-size: 14px;
	font-variant: small-caps;
	font-weight: normal;
	color: #ccc;
}

/*******
 * etc *
 *******/
tr.header {
	background-color: #eee;
}

td.profile, td.profile a {
	text-align: left !important;
	color: #aaa;
	text-decoration: none;
	font-weight: normal;
}

td.profile:hover {
	color: #ddd;
}

td.profile strong {
	display: block;
	color: #222;
}

td.profile strong:hover {
	color: #555;
}

.chart {
	width: 600px;
	height: 300px;
	margin: 20px auto;
}